:root {
  /* Colors */
  
  --ultramarine-blue: hsl(147, 57%, 56%);
  --silver-metallic: hsl(240, 4%, 71%);
  --fiery-rose_12: rgba(117, 187, 134, 0.096);
  --eerie-black-1: hsl(0, 0%, 4%);
  --eerie-black-2: hsl(0, 0%, 25%);
  --smokey-black: hsl(0, 0%, 0%);
  --silver-sand: hsl(240, 4%, 76%);
  --ocean-green: hsl(161, 50%, 57%);
  --fiery-rose: hsl(147, 57%, 56%);
  --alice-blue: hsl(214, 32%, 91%);
  --davys-gray: hsl(0, 0%, 34%);
  --blue-ryb: hsl hsl(0, 0%, 10%);
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white: hsl(0, 0%, 0%);
  --white-1: hsl(0, 0%, 100%);
  --onyx-1: hsl(0, 0%, 23%);
  --onyx-2: hsl(0, 0%, 20%);
  --button-change:  hsl(147, 45%, 49%);
  --button-change-header: hsl(0, 0%, 5%);
  --button-change-header1: hsl(0, 0%, 10%);
  --button-change-header2: hsl(0, 0%, 15%);

  /* Typography */
  --ff-poppins-bold: 'Poppins', bold;
  --ff-poppins: 'Poppins', sans-serif;
  --ff-open-sans: 'Open Sans', sans-serif;

  --fs-1: calc(2.3rem + 2.1vw);
  --fs-2: calc(2.1rem + 0.9vw);
  --fs-3: calc(2rem + 0.3vw);
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.5rem;
  --fs-7: 1.4rem;
  --fs-8: 1.3rem;
  --fs-9: 1.2rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /* Spacing */
  --section-padding: 0px;

  /* Shadow */
  --shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1);

  /* Radius */
  --radius-pill: 10px;
  --radius-circle: 50%;
  --radius-5: 5px;
  --radius-8: 8px;
  --radius-16: 16px;

  /* Transition */
  --transition: 0.6s ease;
  --transition1: 0.4s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/* Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a, img, span, button, ion-icon {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}
input, button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}
input, table {
  width: 100%;
}
button {
  cursor: pointer;
}
ion-icon {
  pointer-events: none;
  z-index: 1 !important;
}

.card-icon-connexion {
  margin-bottom: 150px; /*ECART TUTORIEL*/		
  font-size: 25px;
}

html {
  font-family: var(--ff-open-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background-color: var(--smokey-black);
  color: var(--silver-sand);
  font-size: 1.6rem;
  line-height: 1.75;
}
body.active {
  overflow-y: hidden;
}
:focus-visible {
  outline-offset: 4px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

.input-error {
  border-color: #FF7F50 !important;
}

.error-message {
  color: #FF7F50;
  margin-top: 2px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.error-message-color {
  color: #FF7F50;
  margin-top: 2px;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.hidden {
  display: none;
}

/* Reused style */
.container-404 {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.discord-icon {
  width: 19px;
  height: 14px;
  margin-right: 7px;
}

/* Général */
.container {
  position: relative;
  z-index: 1;
  padding-inline: 15px;
}

.dashboard-container-features {
  position: relative;
  z-index: 1;
  padding-inline: 125px;
}
.h1, .h2, .h3 {
  color: var(--white-1);
  font-family: var(--ff-poppins);
  line-height: 1.2;
}
.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-800);
}
.h2 {
  font-size: var(--fs-2);
}
.h3 {
  font-size: var(--fs-5);
}

/* Boutons */

.btn-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.btn-group1:hover {
  filter: drop-shadow(0 0 80px rgba(49, 130, 86, 0.6));
  z-index: 4;
}

.btn-group2:hover {
  filter: drop-shadow(0 0 80px rgba(49, 130, 86, 0.6));
  z-index: 4;
}

.btn-group1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  filter: drop-shadow(0 0 80px rgba(49, 130, 86, 0.4));
  margin: 0 auto 150px;
  transition: filter 1s;
}

.btn-group2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  filter: drop-shadow(0 0 80px rgba(49, 130, 86, 0.4));
  margin: 0 auto 150px;
  transition: filter 1s;
}

.btn-group-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  filter: drop-shadow(0 0 80px rgba(49, 130, 86, 0.4));
  margin: 0 auto 150px;
  transition: filter 1s;
}

.btn-group-404:hover {
  filter: drop-shadow(0 0 80px rgba(49, 130, 86, 0.6));
  z-index: 4;
}

.btn-group3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 auto 150px;
  transition: filter 1s;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0 auto 100px;
  transition: filter .25s;
}

.btn {
  max-width: max-content;
  padding: var(--padding-y, 13px) 28px;
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  font-weight: 600;
}

.btn-primary {
  color: #FFFFFF;
  background-color: var(--ultramarine-blue);
  border-radius: var(--radius-pill);
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-6);
}

.btn-features {
  align-items: center;
  justify-content: center;
}

.btn-primary-features {
  color: #FFFFFF;
  background-color: var(--ultramarine-blue);
  border-radius: var(--radius-pill);
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-6);
  text-align: center;
}

.btn-primary-features:hover {
  background-color: var(--button-change);
}

.btn-primary-welcome {
  margin-top: 25px;
  color: var(--white);
  background-color: var(--ultramarine-blue);
  border-radius: var(--radius-pill);
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-6);
  text-align: center;
}

.btn-primary-welcome:hover {
  background-color: var(--button-change);
}

.btn-primary-levels {
  color: var(--white);
  background-color: #e55c5c;
  border-radius: var(--radius-pill);
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-6);
  text-align: center;
}

.btn-primary-levels:hover {
  background-color: #e53939;
}

.btn-primary-header:hover {
  background-color: var(--button-change-header1);
}

.btn-primary-header {
  background-color: var(--button-change-header);
  border-radius: var(--radius-pill);
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-6);
}

.btn-primary ion-icon {
  font-size: 3em;
  margin-right: 8px;
}

.btn.btn-primary i {
  margin-right: 5px;
  font-size: 17px;
}

.grid-list .card-text {
  color: var(--alice-blue);
  margin-block: 20px 16px;
}

.btn-primary:hover { background-color: var(--button-change); }

.w-100 { width: 100%; }

.section { padding-block: var(--section-padding); }

.section-title { margin-block-end: 24px; }

.text-center-logo { 
  text-align: center;
}

.text-center { 
  text-align: center;
}

.text-center-tutorial { 
  text-align: center; 
  margin-right: 20px;
  margin-left: 20px;
}

.grid-list {
  margin-top: 55px;
  display: grid;
  gap: 30px;
}

.btn-primary:hover { background-color: var(--button-change); }

.text-center { text-align: center; }

.btn-link {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FFFFFF;
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  z-index: 1 !important;
}

.btn-link > * { transition: var(--transition); }

.btn-link:is(:hover, :focus) { color: var(--ultramarine-blue); }

.btn-link:is(:hover, :focus) ion-icon { transform: translateX(5px); }

/* Header */

.logo:hover {
  filter: drop-shadow(0 0 45px rgba(230, 225, 176, 0.4));
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  filter: drop-shadow(0 0 45px rgba(230, 225, 176, 0.2));
  transition: filter 1s;
}

.logo-connexion {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: filter 1s;
}

.logo img {
  margin-right: 15px;
}

.header .btn-group { display: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 28px;
  background-color: rgba(0, 0, 0, 0.8);
  background-color: var(--smokey-black);
  transition: var(--transition);
  z-index: 10;
}

.header.active {
  padding-block: 18px;
  z-index: 10;
}

.header .container,
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-open-btn {
  color: var(--white_50);
  font-size: 30px;
  transition: var(--transition);
  z-index: 1;
  margin-left: 15px;
}

.nav-open-btn:is(:hover, :focus) { color: var(--ultramarine-blue); }

.navbar {
  position: fixed;
  background-color: var(--eerie-black-1);
  color: var(--alice-blue);
  top: 0;
  right: -400px;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  padding: 40px 16px;
  z-index: 4;
  visibility: hidden;
  transition: 0.5s var(--cubic-in);
}

.navbar.active {
  visibility: visible;
  transform: translateX(-400px);
  transition: 0.5s var(--cubic-out);
}

.navbar-top { margin-block-end: 30px; }

.nav-close-btn {
  background-color: var(--fiery-rose_12);
  color: var(--fiery-rose);
  font-size: 20px;
  padding: 5px;
  border-radius: var(--radius-circle);
}

.nav-close-btn ion-icon { --ionicon-stroke-width: 45px; }

.navbar-link {
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  padding: 8px 16px;
  transition: var(--transition);
}

.navbar-link:hover { color: var(--ultramarine-blue); }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--smokey-black);
  transition: var(--transition);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.overlay.active {
  pointer-events: all;
  opacity: 0.75;
  visibility: visible;
}

/* Footer */

.footer {
  text-align: center;
  color: var(--alice-blue);
}

.footer .logo {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 30px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 30px;
  margin-block: 54px 50px;
}

.footer-link {
  color: var(--white);
  font-weight: var(--fw-600);
  padding-block-end: 4px;
  border-block-end: 2px solid transparent;
  transition: var(--transition);
}

.footer-link:is(:hover, :focus) { border-color: var(--ultramarine-blue); }

.social-list-title {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-block-end: 24px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  background-color: var(--eerie-black-1);
  color: var(--white);
  font-size: 18px;
  padding: 16px;
  border-radius: var(--radius-circle);
  transition: var(--transition);
}

.social-link:is(:hover, :focus) { background-color: var(--ultramarine-blue); }

.footer-bottom {
  border-block-start: 1px solid var(--eerie-black-2);
  padding-block: 16px;
}

.copyright {
  line-height: 1.3;
  margin-block-end: 16px;
}

.footer-bottom-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*-----------------------------------*\
  #LEVELS
\*-----------------------------------*/

.level-config  {
  margin-top: 55px;
  display: grid;
  gap: 30px;
  color: white;
  border-left: 3px solid #2e2e2e;
  margin-bottom: 10px;
  padding: 50px;
  border-radius: var(--radius-5);
  transition: var(--transition1);
  background-color: var(--button-change-header);
}

.welcome-config   {
  display: grid;
  gap: 30px;
  margin-top: 55px;
}

.welcome-config-mid   {
  display: grid;
  gap: 30px;
  margin-top: 13px;
}

.welcome-selector  {
  display: grid;
  gap: 30px;
  color: white;
  border-left: 3px solid #2e2e2e;
  margin-bottom: 10px;
  padding: 50px;
  border-radius: var(--radius-5);
  transition: var(--transition1);
  background-color: var(--button-change-header);
}

.welcome-message  {
  color: white;
  border-left: 3px solid #2e2e2e;
  margin-bottom: 10px;
  padding: 50px;
  border-radius: var(--radius-5);
  transition: var(--transition1);
  background-color: var(--button-change-header);
}

.welcome-embed {
  display: grid;
  gap: 30px;
  color: white;
  min-height: 80px;
  padding: 20px;
  border-left: 4px solid #2e2e2e;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-bottom: 10px;
  border-radius: var(--radius-5);
  transition: var(--transition1);
  background-color: #2b2d31;
}

.embedPreview {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.embed-preview-content {
  flex-grow: 1;
  padding-right: 10px;
}

.embed-preview-content * {
  font-family: inherit;
}

.embed-preview-title {
  font-size: 20px;
  font-weight: 500;
  white-space: pre-wrap;
  font-family: var(--ff-poppins);
}

.embed-preview-description {
  font-size: 16px;
  white-space: pre-line;
  font-family: var(--ff-poppins);
}

.embed-preview-avatar {
  display: flex;
  top: 40px;
  right: 40px;
  
}

.embed-preview-avatar img {
  border-radius: 7%;
  margin-left: 25px;
}
  
.welcome-chanel {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}


#currentChannel {
  margin-right: 15px;
  display: flex;
  align-items: center;
  }

#currentChannelName {
  margin-left: 15px; /* Ajoute un espace entre "Salon actuel:" et le nom du salon */
}

.role-list {
  list-style-type: none;
  padding: 0;
}

.role-item-welcome {
  color: white;
  background-color: var(--button-change-header1);
  border-radius: var(--radius-5);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background-color 0.5s ease, padding 0.5s ease;
}

.welcome-btn-remove {
  background: var(--button-change-header1);
  border-radius: var(--radius-pill);
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-6);
  text-align: center;
  max-width: max-content;
  padding: var(--padding-y, 0px) 10px;
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  font-weight: 500;
  color: white;
}

.welcome-btn-remove:hover {
  background-color: #e53939;
}

.accordion-item {	
  border-left: 3px solid #2e2e2e;
  color: white;
  background-color: var(--button-change-header);
  border-radius: var(--radius-5);
  margin-bottom: 10px;
  overflow: hidden;
  transition: background-color 0.5s ease, border 0.5s ease;
}

.accordion-item.active {
  background-color: var(--button-change-header);
  border-color: var(--button-change-header1);
  border-left: 3px solid var(--ultramarine-blue);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  background-color: var(--button-change-header);
  transition: background-color 0.5s ease, padding 0.5s ease;
}

.accordion-content {
  max-height: 0;
  padding: 0 15px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: max-height 0.5s ease, padding 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
  overflow: hidden;
}

.accordion-item.active .accordion-content {
  max-height: 1000px;
  padding: 15px;
  opacity: 1;
  transform: scaleY(1);
}

.role-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: var(--button-change-header1);
  transition: background-color 0.5s ease, padding 0.5s ease;
}

.level-reset {
  color: white;
  border-left: 3px solid #2e2e2e;
  margin-bottom: 20px;
  padding: 50px;
  border-radius: var(--radius-5);
  transition: var(--transition1);
  background-color: var(--button-change-header);	
}

.level-selector select, .welcome-selector select {
  color: white;
  appearance: none;
  background: var(--button-change-header1);
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: var(--ff-poppins);
  border-radius: var(--radius-pill);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-6);
  text-align: center;
  width: 150px;
  height: 52px;
  cursor: pointer;
}
		
.btn-remove {
  background: var(--button-change-header1);
  border-radius: var(--radius-pill);
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-6);
  text-align: center;
  max-width: max-content;
  padding: var(--padding-y, 0px) 10px;
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  font-weight: 500;
  color: white;
}

.btn-remove:hover {
  background-color: #e53939;
}

.birthdays-reset {
  margin-top: 55px;
  color: white;
  border-left: 3px solid #2e2e2e;
  margin-bottom: 20px;
  padding: 50px;
  border-radius: var(--radius-5);
  transition: var(--transition1);
  background-color: var(--button-change-header);	
}
		
select {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1em;
    transition: border-color 0.3s;
}

select:focus {
    border-color: #aaa;
}

#status {
  margin-top: 20px;
  font-weight: bold;
}

/*-----------------------------------*\
  #DESC
\*-----------------------------------*/

.desc { padding-block-start: calc(var(--section-padding) + 90px); }

.card-text-desc {
  text-align: justify;
}

.desc-text {
  font-size: var(--fs-4);
}

.play-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--fs-7);
  font-family: var(--ff-poppins);
  font-weight: var(--fw-500);
  transition: var(--transition);
}

.play-btn .icon {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border: 2px solid var(--white);
  border-radius: var(--radius-circle);
  transition: var(--transition);
}

.play-btn .span {
  color: var(--silver-metallic);
  transition: var(--transition);
}

.play-btn:is(:hover, :focus) .span { color: var(--white); }

.play-btn:is(:hover, :focus) .icon {
  background-color: var(--white);
  color: var(--ultramarine-blue);
}

/*-----------------------------------*\
  #DESCRIPTION
\*-----------------------------------*/

.promo .section-text {
  padding-inline: 8px;
  margin-block-end: 50px;
}

.description-card {
  padding: 40px 25px;
  margin: 15px;
  border-radius: var(--radius-5);
  transition: var(--transition1);
  background-color: var(--button-change-header);
  border-left: 3px solid var(--ultramarine-blue);
}

.description-card:hover {
  transform: scale(1.05);
  background-color: var(--button-change-header1);
}

.description-card .card-icon {
  background-color: var(--button-change-header2);
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  margin-block-end: 15px;
}

/*-----------------------------------*\
  #INSTRUCTION
\*-----------------------------------*/

.instruction .section-text { margin-block-end: 50px; }

.instruction .section-text-mid {
  margin-block-end: 40px; 
  margin-block-start: 20px;
}

.instruction-card {
  padding: 30px;
  border-radius: var(--radius-16);
  transition: var(--transition1);
  background-color: var(--button-change-header);
}

.instruction-card:hover {
  transform: scale(1.05);
  background-color: var(--button-change-header1);
}

.instruction-card .card-icon {
  background-color: var(--button-change-header2);
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  margin-block-end: 15px;
}

/* Section & Container */

.dashboard-container {
  padding-block-start: 210px;
}

.dashboard-container-features {
  padding-block-start: 150px;
}

/* Section & Container */

.section-instruction{
  padding-block-start: 150px;
}

.section {
  padding-block: var(--section-padding);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-title {
  margin-block-end: 12px;
}
.text-center {
  text-align: center;
}
.grid-list {
  display: grid;
  gap: 30px;
}

/* Styles pour les champs de saisie */

input[type="text"], input[type="password"], input[type="email"], input[type="number"], select {
  padding: 10px;
  max-width: 100%;
  width: 290px;
  margin: center;
  font-family: var(--ff-open-sans);
  border-radius: var(--radius-5);
  border: 1px solid var(--silver-sand);
  background-color: var(--eerie-black-1);
  color: var(--silver-sand);
  transition: border-color var(--transition);
  display: inline-block; 
  outline: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, select:focus {
  border-color: var(--ultramarine-blue);
}

textarea[type="text-welcome-title"], select {
  margin-top:15px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  height: 80px;
  font-family: var(--ff-open-sans);
  border-radius: var(--radius-5);
  border: 1px solid var(--silver-sand);
  background-color: var(--eerie-black-1);
  color: var(--silver-sand);
  transition: border-color var(--transition);
  display: inline-block; 
  outline: none;
  overflow: auto; /* Défilement automatique si le contenu dépasse */
  resize: none; /* Désactiver la redimension */
  line-height: 1.5;
}

textarea[type="text-welcome-title"]:focus, select:focus {
  border-color: var(--ultramarine-blue);
}

textarea[type="text-welcome-desc"], select {
  margin-top:15px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  height: 160px;
  font-family: var(--ff-open-sans);
  border-radius: var(--radius-5);
  border: 1px solid var(--silver-sand);
  background-color: var(--eerie-black-1);
  color: var(--silver-sand);
  transition: border-color var(--transition);
  display: inline-block; 
  outline: none;
  overflow: auto; /* Défilement automatique si le contenu dépasse */
  resize: none; /* Désactiver la redimension */
  line-height: 1.5;
}

textarea[type="text-welcome-desc"]:focus, select:focus {
  border-color: var(--ultramarine-blue);
}

input[type="text"].text-welcome-color, select {
  margin-top:15px;
  padding: 10px;
  max-width: 100%;
  width: 100px;
  margin: center;
  font-family: var(--ff-open-sans);
  border-radius: var(--radius-5);
  border: 1px solid var(--silver-sand);
  background-color: var(--eerie-black-1);
  color: var(--silver-sand);
  transition: border-color var(--transition);
  display: inline-block; 
  outline: none;
  text-align: center;
}

input[type="text"].text-welcome-color:focus, select:focus {
  border-color: var(--ultramarine-blue);
}

/* Styles pour le conteneur du formulaire */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Conteneur pour la saisie et l'icône */

.input-wrapper {
  position: relative;
  width: max-content;
}

.input-wrapper input {
  display: inline-block;
}

.input-wrapper .toggle-password {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: color var(--transition);
  user-select: none;
  font-size: 1.3em;
}

.input-wrapper .toggle-password:hover {
  color: var(--ultramarine-blue);
  pointer-events: auto;
}

input[type="checkbox"] {
  cursor: pointer;
  accent-color: var(--ultramarine-blue);
}

#featuresContainer {
	margin-top: 55px;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 25px;
  margin-bottom: 10px;
  border-radius: var(--radius-5);
  transition: var(--transition1);
  background-color: var(--button-change-header);
  border-left: 3px solid #2e2e2e;
  
}

.feature-item.active {	
  transition: var(--transition1);
  border-left: 3px solid #4ecf88;
}

.slider-container {
    display: flex;
    align-items: center;
}

.feature-description {
    margin-left: 1em;
    color: #666;
    font-size: 0.9em;
}

/* Cacher les cases à cocher par défaut */

.slider-checkbox {
    display: none;
}

/* Style pour le label qui contient le slider */

.slider-label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 1em;
}

/* Style du slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    width: 50px;
    height: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* Styles lorsque le checkbox est checked */

.slider-checkbox:checked + .slider-label .slider {
    background-color: #4ecf88;
}

.slider-checkbox:checked + .slider-label .slider:before {
    transform: translateX(26px);
}

.feature-name {
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 0.5em;
}

.feature-description {
    font-size: 1em;
	margin-right: 1em;
}

/* Cacher les cases à cocher par défaut */

.slider-checkbox {
    display: none;
}

.text-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

/* Specific styles for tutorial box */

#tutorial {
  background-color: var(--button-change-header);
  padding: 20px;
  border-radius: var(--radius-5);
  margin: 15px;
  border-left: 3px solid #2e2e2e;
  transition: var(--transition1);
  margin-top: 100px;
}

#tutorial:hover {
  transform: scale(1.02);
  background-color: var(--button-change-header1);
}

#tutorial h2 {
  color: var(--white-1);
  font-family: var(--ff-poppins);
  font-size: var(--fs-4);
}
#tutorial p, #tutorial ol {
  color: var(--silver-sand);
  line-height: 1.5;
}
#tutorial ol li {
  margin-bottom: 10px;
}

/* List item style for roles */
ul#roleList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--button-change-header);
  padding: 10px;
  border-radius: var(--radius-pill);
}
ul#roleList li button {
  background-color: var(--button-change-header1);
  padding: 5px 10px;
  color: var(--white-1);
  border: none;
  border-radius: var(--radius-pill);
  cursor: pointer;
  transition: background-color var(--transition);
}
ul#roleList li button:hover {
  background-color: var(--accent-color);
}

#status {
  margin-top: 20px;
  color: var(--ultramarine-blue);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */
 
 .logo-text {
  display: none;
}

img.serverIcon {
  color: rgba(0, 0, 0, 0) !important;
  border-radius: var(--radius-circle);
  margin-left:15px;
}

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */
   
  .section-text-desc { text-align: center; }

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  /**
   * APP
   */

  .app-card .card-banner {
    max-width: max-content;
    margin-inline: auto;
  }
  
  .description-card {
	max-width: max-content;
    margin-inline: auto;
  }

}

  .header .btn-group {
    display: flex;
    margin-inline: auto 1px;
  }
  
/**
 * responsive for large than 768px screen
 */
 
@media (min-width: 768px) {

  /**
   * REUSED STYLE
   */
   
  .section-text-desc { text-align: center; }

  .container { max-width: 720px; }

  .grid-list { grid-template-columns: 1fr 1fr; }

  /**
   * HEADER
   */
   
  .description-card {
    max-width: max-content;
    margin-inline: auto;
  }

  .header .btn-group {
    display: flex;
    margin-inline: auto 0.1px;
  }

  .ghost-btn {
    color: var(--alice-blue);
    font-size: var(--fs-6);
    transition: var(--transition);
  }

  .ghost-btn:is(:hover, :focus) { color: var(--ultramarine-blue); }

  .header .btn-primary { border-radius: var(--radius-pill); }

  /**
   * APP
   */

  .app-card { padding: 50px; }

  /**
   * FOOTER
   */

  .footer-bottom { padding-block: 26px; }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright { margin-block-end: 0; }

  .logo-text {
    display: block;
  }

}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  .grid-list { grid-template-columns: repeat(3, 1fr); }

  :is(.section-title, .section-text).text-center { margin-inline:   margin: 15px; }
  
  .section-text-desc { text-align: center; }

  /**
   * HERO
   */

  .hero .container {
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
    gap: 25px;
  }

  .description-card {
	max-width: max-content;
    margin-inline: auto;
  }

  /**
   * STATS
   */

  .stats .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  /**
   * INSTRUCTION
   */

  .instruction .grid-list { grid-template-columns: repeat(4, 1fr); }

  /**
   * APP
   */

  .app-card {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  /**
   * FOOTER
   */

  .footer-top .container { max-width: 580px; }

  .footer-list { column-gap: 60px; }

  .logo-text {
    display: block;
  }
  

}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * REUSED STYLE
   */
   
  .section-text-desc { text-align: center; }

  .container { max-width: 1140px; }

  .section-text-desc { text-align: justify; }

  .description-card {
    max-width: max-content;
    margin-inline: auto;
  }

  /**
   * HEADER
   */

  .nav-open-btn,
  .navbar-top { display: none; }

  .navbar {
    all: unset;
    display: block;
    margin-inline: auto;
  }

  .navbar-list { display: flex; }

  .navbar-link { font-weight: var(--fw-600); }

  .header .btn-group { margin-inline: 0; }

  /**
   * APP
   */

  .app-card { padding-inline: 80px; }

  .logo-text {
    display: block;
  }

}
